.App {
  text-align: center;
}

.nav {
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding: 2% 5%;
}

.header {
  display: flex;
  flex-direction: column;
}

/* .signUp {
  display: flex;
} */