.bannerWrapper {
  transform: translateY(-60px);
  padding: 0px;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  width: 100%
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
  width: 100%
}

.marquee2 span {
  animation-delay: 5s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-200%, 0);
  }
}

@media only screen and (max-width: 767px) {
  .marquee h1{
    font-size: 20px;
  }
}